APP_NAME=SimplePointer
APP_ENV=local
APP_KEY=
APP_DEBUG=true

APP_URL=http://simplepointer.test

LOG_CHANNEL=stack

DB_CONNECTION=sqlite
DB_DATABASE=database.sqlite

CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false

BROADCAST_DRIVER=reverb
REVERB_APP_ID=383604
REVERB_APP_KEY=nxwjzn6y1tmarsc7kmpu
REVERB_APP_SECRET=buik4yvca1kyo4gmkapq
REVERB_SERVER_HOST=0.0.0.0
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=https

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

